*{
    padding: 0;
    margin: 0;
}

html {
    color: #333;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.388888;
}

body{
    margin: 0 auto;
    width: 100%;
    max-width: 620px;
    /* background-color: skyblue; */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-weight: normal;
    /* color: skyblue; */
}
a:hover{
    /* text-decoration:underline; */
    color:orange;
}
/* a:visited{
    color: #000
} */
section{
    /* background-color: skyblue; */
    padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 200;
    /* background: pink; */
}

.logo{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 50px solid transparent;
    border-radius: 50%;
    background-color:skyblue;
    /* background: center center url(../images/logo.png) no-repeat;
    background-size:  auto 80px; */
}

.logoimg{
    width: 100px;
    z-index: 1;
    transform: translate(-50px,-50px);
}

.logoimg:hover{
    width: 120px;
    z-index: 1;
    transform: translate(-60px,-60px);
}

.subtitle{
    margin-top: 30px;
    text-align: center;
}

.sub{
    display: inline-block;
    margin: 0 20px;
    /* float: left; */
    /* width: 33.33%; */
    text-align: center;
    border-bottom: 3px solid black;
}

.recent{
    height: 100px;
    background-color: pink;
}

.project{
    height: 100px;
    background-color: skyblue;
}

.other{
    height: 100px;
    background-color: purple;
}

