html {
    color: #333;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
    font-size: 18px;
    line-height: 1.388888;
}

body{
    margin: 0 auto;
    width: 100%;
    max-width: 620px;
    /* background-color: skyblue; */
}
section{
    background-color: skyblue;
    padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 200;
    /* background: pink; */
}
